header {
  padding: 0;
  margin: 0;
  height: 15px;

  position: relative;

  background-attachment: fixed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: black;
  opacity: 0.7;
  margin-left: 20px;
  margin-right: 30%;
  display: block;
}
li {
  display: inline;
}

a {
  display: inline-block;
  padding: 15px;
  font-size: 30px;
  color: yellow;
}
.nave :hover {
  color: white;
  text-decoration: none;
}
.btn-custom {
  margin: 10px;
  display: inline-block;
  padding: 10px;
  float: right;
}

.btn-custom:hover {
  color: white;
  background-color: red;
  border: none;
}
