

header {
  
  margin:auto;
  height: 70px;
  
  display: flex;
  justify-content:stretch;
  align-items: center;
  
}
head a {
  width: 100%;
  background-size: cover;
}

nav {
  background: black linear-gradient(0.9);
  opacity: 0.9;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: -60px;
  background-size:auto;


}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul a {
  float: left;
  padding: 20px;
  font-size: 30px;
  color: yellow;
  display: flex; 
}

li {
  margin: 0 15px; 
}

.nave a:hover {
  color: white;
  text-decoration: none;
}

.btn-custom {
  margin: 10px;
  background-color: yellow;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  
}

.btn-custom:hover {
  color: white;
  background-color: red;
  border-radius: 5px;
}

main {
  margin-top:20%; /* Adicione espaço suficiente para empurrar o conteúdo para baixo */
  padding: 15px;

}
section{
  display: inline-block;
  margin: 5px;
}
.card
{
  justify-content: center;
  align-content: center;
border-radius: 30px;
display:inline-block;
}

.card:hover{
  background-color: rgba(0, 0, 0, 5);

  color:white;

  
}
aside{
  background-color: yellow;
  width: 400px;
  height: 700px;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-bottom: 400px;
  z-index: 5;
  display: block;
  margin-top:   -900px;
  margin-left: 70%;
}
aside p {
  font-size: 20px;
}